<img src="https://bitzlato.com/static/notifications.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">
  Hello!
</h1>
<h2>
  <% if @record.value == "verified" %>
    Congratulations, your account details was successfully upgraded.
  <% end %>
  <% if @record.value == "rejected" %>
    Unfortunately, your account details was rejected.
  <% end %>
  Your current account level is <b><%= @record.user.level %></b>.
  Your account state is <b><%= @record.user.state %></b>.
</h2>
<h2>
  <% if @record.key == "profile" %>
    Recently your user profile was <%= @record.value %>.
  <% end %>
  <% if @record.key == "id_document" %>
    Recently your main document was <%= @record.value %>.
  <% end %>
  <% if @record.key == "second_document" %>
    Recently your second document was <% @record.value %>.
  <% end %>
  <% if @record.key == "institutional" %>
    Recently your institutional document was <%= @record.value %>.
  <% end %>
</h2>
<h2 class = 'bold'>Have a great deals!</h2>
<h2 class ='bz'>Bitzlato Team!</h2>
