<img src="https://bitzlato.com/static/notifications.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Withdrawal <%= @record.state %></h1>
<h2>Your withdrawal #<%= @record.tid %> of <%= @record.amount %> <%= @record.currency %> has been <b><%= @record.state %></b>.</h2>
<h2 class = 'bold'>Have a great deals!</h2>
<h2 class ='bz'>Bitzlato Team!</h2>
