<img src="https://bitzlato.com/static/notifications.png" alt="Bitzlato" class ='mainImg'>
<h1 align="center">Вывод <%= @record.state %></h1>
<h2>Ваш вывод #<%= @record.tid %> в размере <%= @record.amount %> <%= @record.currency %> был <b><%= @record.state %></b>.</h2>
<h2 class = 'bold'>Удачных сделок!</h2>
<h2 class ='bz'>Команда Bitzlato!</h2>
